# Time Series Advanced / Financial Time Series

## Importing and Exporting Stock Price Data from Yahoo Finance

In [3]:
import pandas as pd

from pandas_datareader import data as pdr

import yfinance as yf
import matplotlib.pyplot as plt

In [4]:
yf.pdr_override()

In [5]:
stocks = ["AAPL", "BA", "KO", "IBM", "DIS", "MSFT" ]

In [6]:
stocks = pdr.get_data_yahoo(stocks, start = "2010-01-01", end = "2019-02-06")

[*********************100%***********************]  6 of 6 downloaded

In [7]:
stocks.head()

           Adj Close                                     Close                \
                AAPL     BA    DIS    IBM     KO   MSFT   AAPL     BA    DIS
Date
2010-01-04     20.31  44.23  28.28  99.30  19.90  24.53  30.57  56.18  32.07
2010-01-05     20.34  45.68  28.20  98.10  19.66  24.53  30.63  58.02  31.99
2010-01-06     20.02  47.06  28.05  97.46  19.66  24.38  30.14  59.78  31.82
2010-01-07     19.98  48.97  28.06  97.13  19.61  24.13  30.08  62.20  31.83
2010-01-08     20.12  48.50  28.11  98.10  19.24  24.30  30.28  61.60  31.88

                    ...   Open                           Volume            \
               IBM  ...    DIS     IBM     KO   MSFT       AAPL        BA
Date                ...
2010-01-04  132.45  ...  32.50  131.18  28.58  30.62  123432400   6186700
2010-01-05  130.85  ...  32.07  131.68  28.42  30.85  150476200   8867800
2010-01-06  130.00  ...  31.90  130.68  28.17  30.88  138040000   8836500
2010-01-07  129.55  ...  31.77  129.87  28.17  30.63  119282800  14379100
2010-01-08  130.85  ...  31.66  129.07  27.73  30.28  111902700   7146600


                 DIS      IBM        KO      MSFT
Date
2010-01-04  13700400  6155300  13870400  38409100
2010-01-05  10307700  6841400  23172400  49749600
2010-01-06  10709500  5605300  19264600  58182400
2010-01-07   8202100  5840600  13234600  50559700
2010-01-08   7657500  4197200  28712400  51197400

[5 rows x 36 columns]

In [8]:
stocks.tail()

           Adj Close                                          Close          \
                AAPL      BA     DIS     IBM     KO    MSFT    AAPL      BA
Date
2019-01-30    163.91  383.58  110.13  131.27  47.45  105.54  165.25  387.72
2019-01-31    165.09  381.50  111.52  131.31  47.71  103.60  166.44  385.62
2019-02-01    165.17  383.29  111.30  131.00  48.28  101.97  166.52  387.43
2019-02-04    169.86  392.76  111.80  132.06  48.82  104.90  171.25  397.00
2019-02-05    172.77  405.80  112.66  132.42  48.83  106.37  174.18  410.18

                            ...    Open                           Volume  \
               DIS     IBM  ...     DIS     IBM     KO    MSFT      AAPL
Date                        ...
2019-01-30  110.13  134.38  ...  110.30  134.00  47.25  104.62  61109800
2019-01-31  111.52  134.42  ...  110.10  134.45  47.85  103.80  40739600
2019-02-01  111.30  134.10  ...  111.97  134.97  48.48  103.78  32668100
2019-02-04  111.80  135.19  ...  111.41  134.02  48.70  102.87  31495500
2019-02-05  112.66  135.55  ...  112.02  135.28  49.33  106.06  36101600


                  BA       DIS      IBM        KO      MSFT
Date
2019-01-30  12705300   7853800  4500900  12952500  49471900
2019-01-31   6878500   8351600  4884000  32181500  55636400
2019-02-01   5625700   6557700  3806000  19130100  35535700
2019-02-04   4256600   7037000  3966600  15105700  31315100
2019-02-05   7230400  13619800  5398900  12651900  27325400

[5 rows x 36 columns]

In [9]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2288 entries, 2010-01-04 to 2019-02-05
Data columns (total 36 columns):
(Adj Close, AAPL)    2288 non-null float64
(Adj Close, BA)      2288 non-null float64
(Adj Close, DIS)     2288 non-null float64
(Adj Close, IBM)     2288 non-null float64
(Adj Close, KO)      2288 non-null float64
(Adj Close, MSFT)    2288 non-null float64
(Close, AAPL)        2288 non-null float64
(Close, BA)          2288 non-null float64
(Close, DIS)         2288 non-null float64
(Close, IBM)         2288 non-null float64
(Close, KO)          2288 non-null float64
(Close, MSFT)        2288 non-null float64
(High, AAPL)         2288 non-null float64
(High, BA)           2288 non-null float64
(High, DIS)          2288 non-null float64
(High, IBM)          2288 non-null float64
(High, KO)           2288 non-null float64
(High, MSFT)         2288 non-null float64
(Low, AAPL)          2288 non-null float64
(Low, BA)            2288 non-null float64
(Low, DIS)           2288 non-null float64
(Low, IBM)           2288 non-null float64
(Low, KO)            2288 non-null float64
(Low, MSFT)          2288 non-null float64
(Open, AAPL)         2288 non-null float64
(Open, BA)           2288 non-null float64
(Open, DIS)          2288 non-null float64
(Open, IBM)          2288 non-null float64
(Open, KO)           2288 non-null float64
(Open, MSFT)         2288 non-null float64
(Volume, AAPL)       2288 non-null int64
(Volume, BA)         2288 non-null int64
(Volume, DIS)        2288 non-null int64
(Volume, IBM)        2288 non-null int64
(Volume, KO)         2288 non-null int64
(Volume, MSFT)       2288 non-null int64
dtypes: float64(30), int64(6)
memory usage: 661.4 KB

In [10]:
stocks.to_csv("stocks.csv")

In [11]:
stocks = pd.read_csv("stocks.csv", header = [0, 1], index_col= [0], parse_dates=[0])

In [12]:
stocks.head()

           Adj Close                                     Close                \
                AAPL     BA    DIS    IBM     KO   MSFT   AAPL     BA    DIS
Date
2010-01-04     20.31  44.23  28.28  99.30  19.90  24.53  30.57  56.18  32.07
2010-01-05     20.34  45.68  28.20  98.10  19.66  24.53  30.63  58.02  31.99
2010-01-06     20.02  47.06  28.05  97.46  19.66  24.38  30.14  59.78  31.82
2010-01-07     19.98  48.97  28.06  97.13  19.61  24.13  30.08  62.20  31.83
2010-01-08     20.12  48.50  28.11  98.10  19.24  24.30  30.28  61.60  31.88

                    ...   Open                           Volume            \
               IBM  ...    DIS     IBM     KO   MSFT       AAPL        BA
Date                ...
2010-01-04  132.45  ...  32.50  131.18  28.58  30.62  123432400   6186700
2010-01-05  130.85  ...  32.07  131.68  28.42  30.85  150476200   8867800
2010-01-06  130.00  ...  31.90  130.68  28.17  30.88  138040000   8836500
2010-01-07  129.55  ...  31.77  129.87  28.17  30.63  119282800  14379100
2010-01-08  130.85  ...  31.66  129.07  27.73  30.28  111902700   7146600


                 DIS      IBM        KO      MSFT
Date
2010-01-04  13700400  6155300  13870400  38409100
2010-01-05  10307700  6841400  23172400  49749600
2010-01-06  10709500  5605300  19264600  58182400
2010-01-07   8202100  5840600  13234600  50559700
2010-01-08   7657500  4197200  28712400  51197400

[5 rows x 36 columns]

In [ ]:
stocks.columns = stocks.columns.to_flat_index()

In [ ]:
stocks.columns

In [ ]:
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)

In [ ]:
stocks.head()

In [ ]:
stocks.swaplevel(axis = 1).sort_index(axis = 1)

## Initial Inspection and Visualization

In [ ]:
import pandas as pd

In [ ]:
stocks = pd.read_csv("stocks.csv", header = [0,1], index_col= [0], parse_dates= [0])

In [ ]:
stocks.head()

In [ ]:
stocks.tail()

In [ ]:
stocks.info()

In [ ]:
stocks.describe()

In [ ]:
close = stocks.loc[:, "Close"].copy()

In [ ]:
close.head()

In [ ]:
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
close.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

## Normalizing Time Series to a Base Value (100)

In [ ]:
close.head()

In [ ]:
close.iloc[0,0]

In [ ]:
close.AAPL.div(close.iloc[0,0]).mul(100)

In [ ]:
close.iloc[0]

In [ ]:
norm = close.div(close.iloc[0]).mul(100)
norm

In [ ]:
norm.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

## The shift() method

In [ ]:
close.head()

In [ ]:
aapl = close.AAPL.copy().to_frame()

In [ ]:
aapl.head()

In [ ]:
aapl.shift(periods = 1)

In [ ]:
aapl["lag1"] = aapl.shift(periods = 1)

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.sub(aapl.lag1)

In [ ]:
aapl["Diff"] = aapl.AAPL.sub(aapl.lag1)

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.div(aapl.lag1).sub(1).mul(100)

In [ ]:
aapl["pct_change"] = aapl.AAPL.div(aapl.lag1).sub(1).mul(100)

In [ ]:
aapl.head()

## The methods diff() and pct_change()

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.diff(periods = 2)

In [ ]:
aapl["Diff2"] = aapl.AAPL.diff(periods = 1)

In [ ]:
aapl.head(10)

In [ ]:
aapl.Diff.equals(aapl.Diff2)

In [ ]:
aapl["pct_change2"] = aapl.AAPL.pct_change(periods = 1).mul(100)

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.resample("BM").last().pct_change(periods =1).mul(100)

## Financial Time Series - Return and Risk

In [ ]:
import numpy as np

In [ ]:
norm.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

In [ ]:
close.head()

In [ ]:
close.pct_change().dropna()

In [ ]:
ret = close.pct_change().dropna()

In [ ]:
ret.head()

In [ ]:
ret.describe().T.loc[:, ["mean", "std"]]

In [ ]:
summary = ret.describe().T.loc[:, ["mean", "std"]]
summary

In [ ]:
summary["mean"] = summary["mean"]*252
summary["std"] = summary["std"] * np.sqrt(252)

In [ ]:
summary

In [ ]:
summary.plot(kind = "scatter", x = "std", y = "mean", figsize = (15,12), s = 50, fontsize = 15)
for i in summary.index:
    plt.annotate(i, xy=(summary.loc[i, "std"]+0.002, summary.loc[i, "mean"]+0.002), size = 15)
plt.xlabel("ann. Risk(std)", fontsize = 15)
plt.ylabel("ann. Return", fontsize = 15)
plt.title("Risk/Return", fontsize = 20)
plt.show()

## Financial Time Series - Covariance and Correlation

In [ ]:
ret.head()

In [ ]:
ret.cov()

In [ ]:
ret.corr()

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(12,8))
sns.set(font_scale=1.4)
sns.heatmap(ret.corr(), cmap = "Reds", annot = True, annot_kws={"size":15}, vmax = 0.6)
plt.show()

## Helpful DatetimeIndex Attributes and Methods

In [ ]:
import pandas as pd

In [ ]:
stocks = pd.read_csv("stocks.csv", header = [0,1], index_col= [0], parse_dates= [0])

In [ ]:
stocks.head()

In [ ]:
close = stocks.loc[:, "Close"].copy()

In [ ]:
close.head()

In [ ]:
close.info()

In [ ]:
close.index

In [ ]:
close.index.day

In [ ]:
close.index.month

In [ ]:
close.index.year

In [ ]:
close.index.day_name()

In [ ]:
 close.index.weekday_name

In [ ]:
close.index.month_name()

In [ ]:
 close.index.weekday

In [ ]:
close.index.quarter

In [ ]:
close.index.days_in_month

In [ ]:
close.index.week

In [ ]:
close.index.weekofyear

In [ ]:
close.index.is_month_end

In [ ]:
close["Day"] = stocks.index.day_name()
close["Quarter"] = stocks.index.quarter

In [ ]:
close.head()

## Filling NA Values with bfill, ffill and interpolation

In [ ]:
close.head()

In [ ]:
close.tail()

In [ ]:
all_days = pd.date_range(start = "2009-12-31", end = "2019-02-06", freq = "D")
all_days

In [ ]:
close = close.reindex(all_days)

In [ ]:
close.head(20)

In [ ]:
close.Day = close.index.weekday_name
close.Quarter = close.index.quarter

In [ ]:
close.fillna(method = "ffill", inplace= True)

In [ ]:
close.head(15)

In [ ]:
temp = pd.read_csv("temp.csv", parse_dates=["datetime"], index_col = "datetime")

In [ ]:
temp.head(10)

In [ ]:
temp = temp.resample("30 Min").mean()
temp.head(10)

In [ ]:
temp.interpolate()